- form_for(@asset, :url => admin_assets_url(@asset.id), :html => { :multipart => true }) do |f|
  = f.error_messages
  
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :data
    = f.file_field :data
  .field
    = f.label :tag_list
    = f.text_field :tag_list

  .actions
    = f.submit
