.widget.scg_widget.Blog.widget_recent_comments
  %h3.widgettitle Recent comments
  %ul#recentcomments
  -#
    %li.recentcomments
      = "#{commenter.name} on"
      %a{:href => "/#comment-10"} Something
    %li.recentcomments
      = "#{commenter.name} on"
      %a{:href => "/#comment-10"} Something
    %li.recentcomments
      = "#{commenter.name} on"
      %a{:href => "/#comment-10"} Something