- image = page.featured_image
.post.hentry.newsitem
  %h2.entry-title
    %a{:href => nested_path(page), :rel => :bookmark, :title => "Permalink to #{page.title}"}= page.title
  .entry-meta
    = page.created_at
  .entry-content
    %p
      %a{:href => image.url, :rel => "lightbox[#{page.id}]"}
        %img.alignnone.size-full{:alt => "", :height => "250", :src => image.url(:medium), :title => image.title, :width => "600"}/
    %p
      %a{:href => image.url, :rel => "lightbox[#{page.id}]"}
      :maruku
        #{truncate(page.body, 200)}
    %p
      %a.more-link{:href => nested_path(page)} More