= render :layout => "layouts/root" do
  = render :partial => "shared/head"
  %body.page.page-template
    .wrapper
      = render :partial => "shared/header"
      .content
        .wrap
          = render :partial => "shared/left"
          .col32
            .page.hentry
              = yield
      = render :partial => "shared/bottom"
    = render :partial => "shared/footer"