= render :layout => "layouts/root" do
  = render :partial => "shared/head"
  %body.page.page-template
    .wrapper
      = render :partial => "shared/header"
      .content
        .wrap
          .col32
            = render :partial => "pages/item", :collection => @pages
            = render :partial => "shared/paginator"
          .col3
            = render :partial => "shared/search"
            = render :partial => "shared/links"
      = render :partial => "shared/right"
      = render :partial => "shared/bottom"
    = render :partial => "shared/footer"